<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
    }

    .centered {
      height: 100%;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Full-width input fields */
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 30vh;
    }

    button:hover {
      opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    img.avatar {
      width: 40%;
      border-radius: 50%;
    }

    .container {
      padding: 16px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      padding: 1rem;
      /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: scale(0)
      }

      to {
        -webkit-transform: scale(1)
      }
    }

    @keyframes animatezoom {
      from {
        transform: scale(0)
      }

      to {
        transform: scale(1)
      }
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }

      .cancelbtn {
        width: 100%;
      }
    }

    #success {
      display: none;
    }

    #error {
      display: none;
    }

    .msg {
      font-size: 20px;
      color: #5C5C5C;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 60vh;
    }
  </style>
</head>

<body>

  <div class="container centered">
    <div class="row" id="form">
      <div class="col-sm-12 col-lg-12 col-md-12">
        <form class="modal-content animate" id="resetForm" autocomplete="off">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" id="newpassword" required>

          <label for="cpsw"><b>Confirm Password</b></label>
          <input type="password" placeholder="Confirm Password" id="confirmpassword" required>

          <button type="submit">Confirm</button>
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('resetForm').reset()"
              class="cancelbtn">Cancel</button>

          </div>
          <input type="hidden" id="userid" value=<%= userid %>>
          <input type="hidden" id="token" value=<%= token %>>
        </form>
      </div>
    </div>
    <div class="row text-center" id="success">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <br><br>
        <h2 style="color:#0fad00">Success</h2>
        <i class="fa fa-check-circle check-color"></i>
        <i>
          <p class="msg">Password reset was successful.</p>
        </i>
      </div>
    </div>
    <div class="row text-center" id="error">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <br><br>
        <h2 style="color:red">Failed</h2>
        <i class="fa fa-times-circle times-color"></i>
        <i>
          <p class="msg" id="msg"></p>
        </i>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  <script>
    $("#resetForm").submit(function (e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.
      var form = $(this);
      var url = "/api/v1/users/resetPassword"
      const data = {
        userid: $('#userid').val(),
        password: $('#newpassword').val(),
        confirmpassword: $('#confirmpassword').val(),
        token: $('#token').val()
      }
      $.ajax({
        type: "POST",
        url: url,
        data: data, // serializes the form's elements.
        success: function (data) {
          if (data.status) {
            Swal.fire({
              icon: 'success',
              title: 'Success',
              allowOutsideClick: false,
              text: data.message,
            }).then(res => {
              $('#form').css('display', 'none');
              $('#success').css('display', 'grid');
              $('#error').css('display', 'none');
            })
          }
          else {
            Swal.fire({
              icon: 'error',
              title: 'Failed',
              allowOutsideClick: false,
              text: data.message,
            }).then(res => {
              $('#msg').text(data.message);
              $('#form').css('display', 'none');
              $('#success').css('display', 'none');
              $('#error').css('display', 'grid');
            })
          }
        },
        error: function (data) {
          Swal.fire({
            icon: 'error',
            title: 'Failed',
            allowOutsideClick: false,
            text: 'Unforseen error occured',
          }).then(res => {
            $('#msg').text('Unforseen error occured');
            $('#form').css('display', 'none');
            $('#success').css('display', 'none');
            $('#error').css('display', 'grid');
          })
        }
      });


    });
  </script>
  <script>
    var password = document.getElementById("newpassword")
      , confirm_password = document.getElementById("confirmpassword");

    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  </script>
</body>

</html>